@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:aliceblue;
}

.logo {
	display: flex;
justify-content:left;
position:absolute;
top:10px;
left:10px;
}

.name{
	display: flex;
	justify-content: center; 
	font-family: 'Bungee Shade', cursive;
	font-size:20px;
	color:navy;
}

.inpute{
	display: flex;
	justify-content: center; 
	height:100px;
}

input{
	margin:20px;

}

  .legend{
  margin:20px;
  margin-left:25%;
  }


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 50px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 10px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.main{
	float:center;
	 justify-content: center;
	 align-items:center;
	width: 25%;
	padding: 50px;
	margin-left:35%;
	margin-top:2%;
	background-image:linear-gradient(to right bottom, PaleTurquoise, aqua);
	cursor:pointer;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
  height:150px;
}

td{
padding-left:20px;
}



button{
    border: 0px;
    border-radius:4px;
    background: lightskyblue;
    width:200px;
    height:80px;
    margin:20px;
    font-size:20px;
}